<template>
  <div class="nano search-results">
    <div class="nano-content search-results__wrapper">
      <div class="search-results__items">
        <a class="search-results__item"
           v-for="(item, index) in items"
           :key="index"
           :href="item.href">
          <div class="search-results__image-wrapper">
            <img class="search-results__image"
                 :src="item.image"
                 :alt="item.text"/>
          </div>
          <div class="search-results__text">
            <div class="search-results__text-value"
                 v-html="item.text"></div>
            <div class="search-results__price">
              <div class="search-results__price-value"
                   v-html="item['price']['showWithoutIcon']"></div>
              <div class="search-results__price-old-value"
                   v-if="item['price']['discount']"
                   v-html="item['price']['showOldWithoutIcon']"></div>
            </div>
          </div>
        </a>
      </div>
      <div class="search-results__all-wrapper">
        <a class="button button_theme_liner-green search-results__all"
           :href="allItemsHref"
           v-text="$t('all-results-link-text')"></a>
      </div>
    </div>
  </div>
</template>

<script>
export default {
  name: 'SearchResults',
  props: {
    allItemsHref: String,
    items: Array
  },
  mounted () {
    setTimeout(function () {
      $('.search-results').nanoScroller()
      $('.search-results').addClass('search-results_active')
    }, 500)
  },
  watch: {
    items: function () {
      $('.search-results').nanoScroller({ destroy: true })
      $('.search-results').nanoScroller()
    }
  }
}
</script>

<style lang="sass">
@import "../../../variables/variables"
@import "../../../mixins/mixins"

.search-results
  background: #ffffff
  box-shadow: 0 1px 1px 0 rgba(0, 0, 0, 0.1)
  max-height: 400px
  position: absolute
  opacity: 0
  transition: opacity 0.1s
  width: 100%
  z-index: 20 !important

  .nano-pane
    background: transparent
    border: 1px solid #000000
    opacity: 1
    width: 7px

.search-results.search-results_active
  opacity: 1

.search-results__item
  align-items: center
  border-bottom: 1px solid #000000
  color: #000000
  display: flex
  font-size: 12px
  line-height: 18px
  padding: 5px 15px 15px

.search-results__image-wrapper
  align-items: center
  display: flex
  flex-shrink: 0
  justify-content: center
  height: 40px
  width: 40px

.search-results__image
  max-height: 100%
  max-width: 100%

.search-results__text
  margin-left: 10px

.search-results__price
  align-items: center
  display: flex
  margin-top: 5px

.search-results__price-value
  font-size: 14px
  font-weight: 700

.search-results__price-old-value
  color: #000000
  font-size: 13px
  margin-left: 15px
  text-decoration: line-through

.search-results__all-wrapper
  padding: 20px 40px

  .search-results__all
    display: flex
    justify-content: center
    font-weight: 700
    padding: 10px
    width: 160px

+mq(tablet)

  .search-results
    width: calc(100% - 50px - 30px)

+mq(desktop)

  .search-results
    width: 445px

  .search-results__item
    font-size: 15px
    padding: 5px 30px

  .search-results__image-wrapper
    height: 80px
    width: 80px

  .search-results__text
    margin-left: 30px

  .search-results__price
    align-items: center
    display: flex
    margin-top: 5px

  .search-results__price-value
    font-size: 15px

</style>
