<template>
  <transition name="fade"
              appear>
    <form :action="action"
          class="search">
      <input class="search__input"
             type="text"
             name="q"
             :placeholder="$t('placeholder')"
             size="20"
             maxlength="50"
             autocomplete="off"
             v-model="q"
             @input="onInputHandler"
             @focus="onFocusHandler"
             @blur="onBlurHandler">
      <button class="search__submit"
              type="submit"
              value="Найти">
        <svg xmlns="http://www.w3.org/2000/svg" width="21" height="21" viewBox="0 0 21 21">
          <defs>
          </defs>
          <path data-name="Rounded Rectangle 106" class="sscls-1"
                d="M1590.71,131.709a1,1,0,0,1-1.42,0l-4.68-4.677a9.069,9.069,0,1,1,1.42-1.427l4.68,4.678A1,1,0,0,1,1590.71,131.709ZM1579,113a7,7,0,1,0,7,7A7,7,0,0,0,1579,113Z"
                transform="translate(-1570 -111)"></path>
        </svg>
      </button>
      <transition v-if="needShowResults"
                  name="fade">
        <SearchResults
            :all-items-href="allResultHref"
            :items="items"/>
      </transition>
    </form>
  </transition>
</template>

<script>
import { mapGetters, mapActions } from 'vuex'
import SearchResults from './SearchResults'

export default {
  name: 'Search',
  components: { SearchResults },
  props: {
    action: { type: String, default: '/catalog/' },
    url: { type: String, default: '' }
  },
  data: () => {
    return {
      focused: false,
      q: '',
      timeoutId: null,
      focusTimeoutId: null
    }
  },
  computed: {
    ...mapGetters('search', { items: 'items' }),
    needShowResults () {
      return this.focused && this.q.length && this.items.length
    },
    allResultHref () {
      return `${this.action}?q=${this.q}`
    }
  },
  methods: {
    ...mapActions('search', { search: 'search' }),
    onInputHandler () {
      this.timeoutId !== null && clearTimeout(this.timeoutId)

      this.timeoutId = setTimeout(async () => {
        await this.search({ url: this.url, q: this.q })
        this.$nextTick(() => {
          window.bLazy && window.bLazy.revalidate()
        })
      }, 300)
    },

    onFocusHandler () {
      if (this.focusTimeoutId) {
        clearTimeout(this.focusTimeoutId)
      }

      this.focused = true
    },

    onBlurHandler () {
      this.focusTimeoutId = setTimeout(() => {
        this.focused = false
      }, 100)
    }
  }
}
</script>

<style lang="sass">
@import "../../../variables/variables"
@import "../../../mixins/mixins"

.search
  position: relative
  vertical-align: top
  width: 85%

.search__input
  border: 1px solid #000000
  border-radius: 3px
  background: #ffffff
  height: 40px
  padding: 0 44px 0 17px
  outline: none
  vertical-align: top
  width: calc(100% - 50px - 30px)

.search__submit
  +button-preset
  border: 1px solid $blue-color
  margin-left: 30px
  padding: 10px
  vertical-align: top

  svg
    height: auto
    width: 16px

.search__close
  height: 20px
  width: 20px

+mq(desktop)

  .search
    width: 100%

  .search__input
    width: 100%

    &::placeholder
      color: #444444

  .search__submit
    +button-preset
    height: 40px
    position: absolute
    right: 0
    top: 0
    width: 48px
</style>
